.goback{
    font-size: 20px;
    color: black;
}
.solo{
    display: flex;
    flex-direction: column;
    justify-self: center;
    align-content: center;
    margin: auto;
    border: 1px solid grey;
    background:rgb(235,235,235) ;
    width: 400px;
}
.buttons{
    font-size: 25px;
    margin: 20px;
    color: white;
}
.c{
    text-align: center;
    background: chartreuse;
    width: 50px;
    padding: 2px;
}
.b{
    text-align: center;
    background: red;
    width: 50px;
    padding: 2px;
}
.whosgoing{
    display: flex;
    justify-content: center;
    margin: 10px;
}
.arethey{
    margin: 0 10px;
    color: black
}
.singleimg{
    display: flex;
    justify-content: center;
    border-radius: 50%;
    width:40%;
}
.img{
    display: flex;
    padding:70px 0 40px 0;
    justify-content: center;
}
.a{
    display: flex; 
    font-size: 20px;
    margin: 0  0 -15px 0;
}
.name, .phone, .email{
    font-weight: 700;
}
.aa{
    width: 100%;
    border-top: 1px solid lightgray;
    border-bottom: 1px solid lightgray;
    padding: 5px;
}
.addornot{
    display: flex;
    align-content: flex-end;
    justify-content: center;
}
/* Going or Not Going */
.allgoingornot{
    display: flex;
    flex-wrap: wrap;
}
.imgsgoingornot{
    display: flex;
    justify-content: center;
}
.noimg{
    border-radius: 50%;
    width: 125px;
    padding: 56px 0 46px 0;
}
.eachgoingornot{
    display: flex;
    flex-direction: column;
    justify-self: center;
    align-content: center;
    border: 1px solid grey;
    background:rgb(235,235,235) ;
    width: 350px;
    margin: 15px;
}
.alltext{
    border-top: 1px solid lightgray;
}
.namegoingornot, .phonegoingornot,.emailgoingornot{
    display: flex;
}
.nn,.pp,.ee{
    font-size: 18px;
    font-weight: 600;
}
.nnn,.ppp,.eee{
    font-size: 18px;
}


